.paper-a4 {
    @apply mb-3 mt-6 mx-6 bg-white flex flex-col items-center;
    width: 21cm;
    height: 29.7cm;
    .header {
        @apply flex flex-col items-center mt-20;
        .title {
            @apply text-2xl mb-2 font-bold;
            letter-spacing: 25px;
        }
        .subtitle {
            @apply text-xl font-bold mb-4;
            letter-spacing: 25px;
        }
    }
    .firm-info {
        width: 80%;
        .table {
            width: 100%;
            .row {
                @apply border-b border-black leading-7;
                .item {
                    width: 90px;
                }
                .value {
                }
            }
        }
    }
    .quotation-info {
        @apply mt-16;
        width: 80%;
        .table {
            width: 100%;
            @apply border border-black;
            .row {
                th {
                    @apply border border-black font-black leading-5;
                }
                td {
                    @apply border border-black leading-5;
                    &.right {
                        @apply text-right;
                    }
                    &.center {
                        @apply text-center;
                    }
                    &.memoArea {
                        @apply align-text-top;
                        height: 150px;
                    }
                }
            }
        }
    }
}
